$ff-sans: "Open Sans", sans-serif;

$font-sizes: (
  900: 3.75rem,
  800: 3rem,
  700: 2rem,
  600: 1.5rem,
  500: 1.3125rem,
  400: 1.125rem,
);
$font-sizes-large: (
  900: 4rem,
  800: 3.5rem,
  700: 3rem,
  600: 1.75rem,
  500: 1.4125rem,
  400: 1.225rem,
);
